

@font-face {
    font-family: 'IRANSansWeb';
    src: url('IRANSansWeb.woff2');
    src: url('IRANSansWeb.woff2') format('woff2'), url('IRANSansWeb_Black.woff2') format('woff2'), url('IRANSansWeb_Bold.woff2') format('woff2'), url('IRANSansWeb_Light.woff2') format('woff2'), url('IRANSansWeb_Medium.woff2') format('woff2');
  }

  